<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Inconsolata" rel="stylesheet">
    <script src="{{ site.baseurl }}/assets/js/ga.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

<!--    <script src="{{ site.baseurl }}/assets/js/underscore-min.js"></script> 
    <script src="https://probmods.org/bower_components/underscore/underscore.js"></script> -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if layout.custom_css %}
      {% for stylesheet in layout.custom_css %}
      <link rel="stylesheet" href="{{ site.baseurl }}/{{ stylesheet }}" media="screen" type="text/css">
      {% endfor %}
    {% endif %}
    {% if layout.external_css %}
      {% for stylesheet in layout.external_css %}
      <link rel="stylesheet" href="{{ stylesheet }}" media="screen" type="text/css">
      {% endfor %}
    {% endif %}
    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="{{ site.baseurl }}/{{ stylesheet }}" media="screen" type="text/css">
      {% endfor %}
    {% endif %}
    {% if layout.custom_js %}
      {% for js_file in layout.custom_js %}
      <script src='{{ site.baseurl }}/{{ js_file }}' type="text/javascript"></script>
      {% endfor %}
    {% endif %}
    {% if layout.external_js %}
      {% for js_file in layout.external_js %}
      <script src='{{ js_file }}' type="text/javascript"></script>
      {% endfor %}
    {% endif %}
    {% if layout.custom_jsx %}
      {% for jsx_file in layout.custom_jsx %}
      <script src='{{ site.baseurl }}/{{ jsx_file }}' type="text/jsx"></script>
      {% endfor %}
    {% endif %}
    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
      <script src='{{ site.baseurl }}/{{ js_file }}' type="text/javascript"></script>
      {% endfor %}
    {% endif %}
  </head>
  <body>

    {% assign sorted_pages = site.pages | sort:"chapter_num" %}

    <div class="container">

      {{ content }}

    </div>

  </body>
</html>
